nav {
  background-color: black;
  border: 2px solid grey;
  margin: auto;
  text-align: center;
  width: fit-content;
}

ul {
  padding: 0;
}

li {
  background-color: grey;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  text-transform: uppercase;
}

li:hover {
  background-color: red;
  color: white;
}

div {
  display: none;
  margin-top: 50px;
  text-align: center;
}

.activeLi {
  background-color: red;
  color: white;
}